!!!
%html
    %head
        {%metas%}
        %title {%title%}
        {%favicon%}
        {%css%}
    %body
        {%app_entry%}
        %footer
            {%config%}
            {%scripts%}
            {%renderer%}